Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Do NOT add any cells to the notebook!

Make sure you fill in any place that says `YOUR CODE HERE` or _YOUR ANSWER HERE_ , as well as your name and group below:

In [1]:
NAME = "me"
STUDENTID = "me"

# Assignment 3 (Individual)

In continuation of Assignment 2, we will now practice how to process datasets.
From what you have seen in the lecture you should practice the following steps:
* basic dataset description & assessing "tidyness"
* filtering
* sorting
* aggregation
using both "pure" Python and also using Pandas. 
-----

## Step 1a (4 points)

Find a CSV dataset online (same requirements apply as in Assignment 2, but additionally make sure that the dataset has at least  one column with a categorical value and one column with a numerical value. Note, if you worked in a group, you are NOT allowed to use both the same dataset, i.e., we expect everybody to find their own CSV file.

Using the CSV package, write some python code to:wienerlinien-ogd-haltestellen.csv
* print the first 5 lines of the dataset
* print and count the number of rows in the dataest.
* checks how many different __values__ appear per column in the CSV file.
* checks how many different __datatypes__ appear per column of the CSV file.

In [1]:
import pandas as pd
import csv

csv_file_path = 'data/data_notebook-1_wienerlinien-ogd-haltestellen.csv'

def find_type(value):
    """Returns the 'true' datatype of a csv field value"""
    try:
        value_type = type(float(value))
    except (ValueError, TypeError):
        try:
            value_type = type(int(value))
        except (ValueError, TypeError):
            try:
                value_type = type(str(value))
            except (ValueError, TypeError):
                value_type = type(value)
    return value_type


with open(csv_file_path, 'r') as f:
    reader = csv.reader(f, delimiter=';')
    header = next(reader) # extracting header

    rows = list(reader) # all rows without header, because it is already 'read' by next()

    print('Header:', header)
    print('First 5 rows:')
    for row in rows[:5]:
        print(row)

    print('\nTotal number of rows without header:', len(rows)) # number of inputs
    csv_dict = { h:[] for h in header } # making a csv dict 

    for row in rows: # adding column values to columns
        for i, h in enumerate(header):
            csv_dict[h].append(row[i])

    print('\nNumber of different values in a given column:')
    for key, value in csv_dict.items():
        print('\t|___In column', f'"{key}"', 'there is/are', len(set(value)), 'different value/s.')
        

    print('\nNumber of different datatypes in a given column:')
    for key, value in csv_dict.items():
        type_check = lambda x: find_type(x)
        value = list(map(type_check, value))
        print('\t|___In column', f'"{key}"','there is/are', len(set(value)), 'datatype/s', set(value))

Header: ['HALTESTELLEN_ID', 'TYP', 'DIVA', 'NAME', 'GEMEINDE', 'GEMEINDE_ID', 'WGS84_LAT', 'WGS84_LON', 'STAND']
First 5 rows:
['214460106', 'stop', '60200001', 'Schrankenberggasse', 'Wien', '90001', '48.1738010728644', '16.3898072745249', '']
['214460107', 'stop', '60200002', 'Achengasse', 'Wien', '90001', '48.2845258075837', '16.4488984539143', '']
['214460108', 'stop', '60200003', 'Ada-Christen-Gasse', 'Wien', '90001', '48.1528655583657', '16.385953501956', '']
['214460109', 'stop', '60200004', 'Adam-Betz-Gasse', 'Wien', '90001', '48.21561055503', '16.5351906201068', '']
['214460110', 'stop', '60200005', 'Adamovichgasse', 'Wien', '90001', '48.1421668131238', '16.3378397353386', '']

Total number of rows without header: 2235

Number of different values in a given column:
	|___In column "HALTESTELLEN_ID" there is/are 2235 different value/s.
	|___In column "TYP" there is/are 1 different value/s.
	|___In column "DIVA" there is/are 2235 different value/s.
	|___In column "NAME" there is/are 2234 different value/s.
	|___In column "GEMEINDE" there is/are 148 different value/s.
	|___In column "GEMEINDE_ID" there is/are 83 different value/s.
	|___In column "WGS84_LAT" there is/are 2124 different value/s.
	|___In column "WGS84_LON" there is/are 2158 different value/s.
	|___In column "STAND" there is/are 1 different value/s.

Number of different datatypes in a given column:
	|___In column "HALTESTELLEN_ID" there is/are 1 datatype/s {<class 'float'>}
	|___In column "TYP" there is/are 1 datatype/s {<class 'str'>}
	|___In column "DIVA" there is/are 1 datatype/s {<class 'float'>}
	|___In column "NAME" there is/are 1 datatype/s {<class 'str'>}
	|___In column "GEMEINDE" there is/are 1 datatype/s {<class 'str'>}
	|___In column "GEMEINDE_ID" there is/are 1 datatype/s {<class 'float'>}
	|___In column "WGS84_LAT" there is/are 2 datatype/s {<class 'str'>, <class 'float'>}
	|___In column "WGS84_LON" there is/are 2 datatype/s {<class 'str'>, <class 'float'>}
	|___In column "STAND" there is/are 1 datatype/s {<class 'str'>}

Now, (potentially extending the code above), answer the following questions:
* which types of variables appear in this dateset?
  * for each variable say (i) whether it's nominal or categorical, (ii) whether it is an identifier, a dimension or a measurement.  
* how would you describe an "observation" in this dataset?
* is the dataset tidy?
* if not, why not?

**MY ANSWER**  
Dataset source: *https://data.wien.gv.at/csv/wienerlinien-ogd-haltestellen.csv*  
  
TYPES OF VARIABLES:  
  * HALTESTELLEN_ID - numerical, identifier  
  * TYP - categorical/nominal  
  * DIVA - numerical/  
  * NAME - categorical, dimension  
  * GEMEINDE - categorical, dimension  
  * GEMEINDE_ID - numerical, identifier  
  * WGS84_LAT - numerical, measurement  
  * WGS84_LON - numerical, measurement
  * STAND - perhaps categorical, but since none of the rows has input I will leave it out
    
Each observation/row in this dataset describes one Public Transportation Station in Vienna area.  

Dataset is not tidy because there is a whole column called STAND that doesn't hold any values init. Also, there are two columns that contain 2 different datatypes (str and float).

## Step 1b (2 point)

Now do the same steps you solved in 1a using Pandas, i.e.:

i.e., using Pandas, read in the CSV file:
* print the header (first 5 records) of the dataset
* get further information about the dataset using info() and describe()
* checks how many different __values__ appear per column in the CSV file.
* checks how many different __datatypes__ appear per column of the CSV file.

In [2]:
df = pd.read_csv(csv_file_path, sep=';')

# Some of these methods return output as standard output (stdout stream) and some need to be explicitly printed out
# therefore I decided to print them all to be sure everything is displayed correctly.
print('FRIST 5 ROWS:\n')
print(df.head(5))
print('\nINFO:\n')
print(df.info())
print('\nDESCRIBED:\n')
print(df.describe())
print('\nUNIQUE VALUES:\n')
print(df.nunique())
print('\nDATA TYPES:\n')
print(df.dtypes)

FRIST 5 ROWS:

   HALTESTELLEN_ID   TYP      DIVA                NAME GEMEINDE  GEMEINDE_ID  \
0        214460106  stop  60200001  Schrankenberggasse     Wien        90001
1        214460107  stop  60200002          Achengasse     Wien        90001
2        214460108  stop  60200003  Ada-Christen-Gasse     Wien        90001
3        214460109  stop  60200004     Adam-Betz-Gasse     Wien        90001
4        214460110  stop  60200005      Adamovichgasse     Wien        90001

   WGS84_LAT  WGS84_LON  STAND
0  48.173801  16.389807    NaN
1  48.284526  16.448898    NaN
2  48.152866  16.385954    NaN
3  48.215611  16.535191    NaN
4  48.142167  16.337840    NaN

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235 entries, 0 to 2234
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HALTESTELLEN_ID  2235 non-null   int64
 1   TYP              2235 non-null   object
 2   DIVA             2235 non-null   int64
 3   NAME             2235 non-null   object
 4   GEMEINDE         2235 non-null   object
 5   GEMEINDE_ID      2235 non-null   int64
 6   WGS84_LAT        2228 non-null   float64
 7   WGS84_LON        2228 non-null   float64
 8   STAND            0 non-null      float64
dtypes: float64(3), int64(3), object(3)
memory usage: 157.3+ KB
None

DESCRIBED:

       HALTESTELLEN_ID          DIVA   GEMEINDE_ID    WGS84_LAT    WGS84_LON  \
count     2.235000e+03  2.235000e+03   2235.000000  2228.000000  2228.000000
mean      2.153278e+08  6.020337e+07  80078.492617    48.205250    16.301156
std       6.477832e+06  7.686066e+03  22140.663452     0.065299     0.235437
min       2.144601e+08  6.020000e+07  30201.000000    47.811589    15.579635
25%       2.144607e+08  6.020058e+07  90001.000000    48.172220    16.292023
50%       2.144613e+08  6.020116e+07  90001.000000    48.206176    16.358353
75%       2.144618e+08  6.020175e+07  90001.000000    48.233566    16.423045
max       3.780566e+08  6.025992e+07  90001.000000    48.723247    17.006061

       STAND
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

UNIQUE VALUES:

HALTESTELLEN_ID    2235
TYP                   1
DIVA               2235
NAME               2234
GEMEINDE            148
GEMEINDE_ID          83
WGS84_LAT          2123
WGS84_LON          2157
STAND                 0
dtype: int64

DATA TYPES:

HALTESTELLEN_ID      int64
TYP                 object
DIVA                 int64
NAME                object
GEMEINDE            object
GEMEINDE_ID          int64
WGS84_LAT          float64
WGS84_LON          float64
STAND              float64
dtype: object

## Step 2a Filtering (2 point)

Using pure Python, i.e. NOT using Pandas:
* filter the rows of the dataset by a condition of your choice on one or several of the columns:

In [5]:
# Places outside Vienna, where Wiener Linien has stations.
outside_vienna = [row for row in rows if row[4] != 'Wien']
print('Numer of rows that meet condition: ',len(outside_vienna))
print('First 10 rows that meet condition:')
for row in outside_vienna[:10]:
    print(row)

Numer of rows that meet condition:  374
First 10 rows that meet condition:
['214461954', 'stop', '60203004', 'Absdorf-Hippersdorf Bahnhof', 'Absdorf-Hippersdorf', '32101', '48.4019296526331', '15.9858348912563', '']
['214461958', 'stop', '60203008', 'Achau Bahnhof', 'Achau', '31701', '48.0805382263921', '16.3784346030279', '']
['214461968', 'stop', '60203018', 'Gerasdorf Leopoldauer Straße', 'Gerasdorf bei Wien', '31235', '48.2935034895686', '16.4670444226535', '']
['214462013', 'stop', '60203064', 'Atzenbrugg Bahnhof', 'Atzenbrugg', '32104', '48.2969100529768', '15.9186049753928', '']
['214462028', 'stop', '60203079', 'Bad Deutsch-Altenburg Bahnhof', 'Bad Deutsch-Altenbg', '30702', '48.1324910696496', '16.9106684425631', '']
['214462039', 'stop', '60203090', 'Bad Vöslau Bahnhof', 'Bad Vöslau', '30603', '47.9691558472632', '16.2240411551463', '']
['214462050', 'stop', '60203101', 'Baden Bahnhof', 'Baden bei Wien', '30604', '48.0042024421651', '16.2429956076412', '']
['214462070', 'stop', '60203121', 'Baden Josefsplatz', 'Baden bei Wien', '30604', '48.0057591156024', '16.2338327917432', '']
['214462083', 'stop', '60203134', 'Baden Viadukt', 'Baden bei Wien', '30604', '48.0036554916963', '16.2413337243656', '']
['214462091', 'stop', '60203142', 'Baden Leesdorf', 'Baden bei Wien', '30604', '47.9996223042492', '16.2511702767267', '']

## Step 2b Filtering - Pandas (2 point)

Now, using Pandas
* filter the rows of the dataset by the same condition as for 2a:

In [5]:
df.loc[df['GEMEINDE'] != 'Wien']

,HALTESTELLEN_ID,TYP,DIVA,NAME,GEMEINDE,GEMEINDE_ID,WGS84_LAT,WGS84_LON,STAND
1748,214461954,stop,60203004,Absdorf-Hippersdorf Bahnhof,Absdorf-Hippersdorf,32101,48.401930,15.985835,NaN
1749,214461958,stop,60203008,Achau Bahnhof,Achau,31701,48.080538,16.378435,NaN
1750,214461968,stop,60203018,Gerasdorf Leopoldauer Straße,Gerasdorf bei Wien,31235,48.293503,16.467044,NaN
1751,214462013,stop,60203064,Atzenbrugg Bahnhof,Atzenbrugg,32104,48.296910,15.918605,NaN
1752,214462028,stop,60203079,Bad Deutsch-Altenburg Bahnhof,Bad Deutsch-Altenbg,30702,48.132491,16.910668,NaN
...,...,...,...,...,...,...,...,...,...
2171,229865358,stop,60212407,St. Pölten Aquilin-Hacker-Str.,St Pölten,30201,48.171974,15.618361,NaN
2172,229865362,stop,60212408,St. Pölten Laimgrubenstraße,St Pölten,30201,48.199255,15.602299,NaN
2173,229865365,stop,60212409,Viehofen J.-Heßl-Gasse,Viehofen,30201,48.230854,15.649721,NaN
2174,229865368,stop,60212414,Spratzern Wörther Straße,Spratzern,30201,48.162082,15.618999,NaN
2200,235669724,stop,60218684,Harland M.-Beyerknecht-Straße,Harland/St Pölten,30201,48.175191,15.638735,NaN

## Step 3a Sorting (2 point)

Using pure Python, i.e. NOT using Pandas:
* sort the rows by one or several of the columns in descending order of values:

In [6]:
with open(csv_file_path, 'r') as f:
    reader = csv.reader(f, delimiter=';')
    next(reader) # skiping header
    sort_asc = sorted(reader, key = lambda x: int(x[0])) # I will sort them by station ID from lowest to highest / ASCEDING
    for row in sort_asc[::-1][:10]: # first slice reverses the list, 2nd takes only first 10 rows / could have just used method .reverese() but I like it this way more :D
        print(row)
        
# sort_desc = sort_asc[::-1] or sort_asc.reverse()
# print(sort_desc)

['378056605', 'stop', '60201912', 'Hlawkagasse', 'Wien', '90001', '48.1791264615246', '16.3828722805315', '']
['345748639', 'stop', '60201911', 'Niedermeierweg', 'Wien', '90001', '48.2062539913271', '16.483250030379', '']
['345540619', 'stop', '60201910', 'Absberggasse', 'Wien', '90001', '48.1759576523513', '16.3906067751277', '']
['297662130', 'stop', '60201909', 'Melchartgasse', 'Wien', '90001', '48.1723393396382', '16.2951158604258', '']
['240568393', 'stop', '60201908', 'Ziedlergasse', 'Wien', '90001', '48.151241410667', '16.2961040072384', '']
['240496047', 'stop', '60201890', 'Ignaz-Köck-Straße', 'Wien', '90001', '48.2657584321997', '16.3992755176195', '']
['240496043', 'stop', '60201889', 'Großbauerstraße', 'Wien', '90001', '48.2809809220136', '16.426117178309', '']
['240496039', 'stop', '60201888', 'Leopoldau, Betriebsgarage', 'Wien', '90001', '48.2802874586307', '16.4303841759086', '']
['240496035', 'stop', '60201887', 'Petritschgasse', 'Wien', '90001', '48.2795939858339', '16.43522609529', '']
['240496031', 'stop', '60201886', 'Tauschekgasse', 'Wien', '90001', '48.2754389301016', '16.4341930327132', '']

## Step 3b Sorting - Pandas (2 point)

Now, using Pandas
* sort the rows of the dataset by the same columns as in 3a, again in descending order of values:

In [7]:
df.sort_values(by='HALTESTELLEN_ID', ascending=False)

,HALTESTELLEN_ID,TYP,DIVA,NAME,GEMEINDE,GEMEINDE_ID,WGS84_LAT,WGS84_LON,STAND
2234,378056605,stop,60201912,Hlawkagasse,Wien,90001,48.179126,16.382872,NaN
2233,345748639,stop,60201911,Niedermeierweg,Wien,90001,48.206254,16.483250,NaN
2232,345540619,stop,60201910,Absberggasse,Wien,90001,48.175958,16.390607,NaN
2231,297662130,stop,60201909,Melchartgasse,Wien,90001,48.172339,16.295116,NaN
2230,240568393,stop,60201908,Ziedlergasse,Wien,90001,48.151241,16.296104,NaN
...,...,...,...,...,...,...,...,...,...
4,214460110,stop,60200005,Adamovichgasse,Wien,90001,48.142167,16.337840,NaN
3,214460109,stop,60200004,Adam-Betz-Gasse,Wien,90001,48.215611,16.535191,NaN
2,214460108,stop,60200003,Ada-Christen-Gasse,Wien,90001,48.152866,16.385954,NaN
1,214460107,stop,60200002,Achengasse,Wien,90001,48.284526,16.448898,NaN
0,214460106,stop,60200001,Schrankenberggasse,Wien,90001,48.173801,16.389807,NaN

## Step 4a Aggregation and Grouping (4 points)

Using pure Python, i.e. NOT using Pandas:
* pick one column _X_ with numeric values and one column with categorical values _Y_ and perform the following:
  * Compute the __sum__ of the values of column _X_ __per__ value of column _Y_

In [8]:
with open(csv_file_path, 'r') as f:
    reader = csv.reader(f, delimiter=';')
    next(reader) # skipping header
    rows = list(reader)
    
    grouped = {}
    
    for row in rows:
        if row[4] in grouped.keys(): # if value in row[4] (GEMEINDE) is present as a key in dictionary 'grouped' it will append corresponding value row[0] (Station's ID) to that key for that row
            grouped[row[4]].append(int(row[0]))
        else: # othwerwise it will create new key and will store that's row value fro Station ID in a list
            grouped[row[4]] = [int(row[0])]
    
    for key, value in grouped.items():
        print('Sum of Station IDs for district', key, 'is', sum(value))
        
# Well, this is not very useful since sum of ID numbers doesn't mean nothing to me. But for the sake of the task I think it is okay.

Sum of Station IDs for district Wien is 400878341985
Sum of Station IDs for district Absdorf-Hippersdorf is 214461954
Sum of Station IDs for district Achau is 214461958
Sum of Station IDs for district Gerasdorf bei Wien is 2574134108
Sum of Station IDs for district Atzenbrugg is 214462013
Sum of Station IDs for district Bad Deutsch-Altenbg is 214462028
Sum of Station IDs for district Bad Vöslau is 214462039
Sum of Station IDs for district Baden bei Wien is 1291677442
Sum of Station IDs for district Bisamberg is 214462119
Sum of Station IDs for district Breitenwaida is 214462154
Sum of Station IDs for district Bruck an der Leitha is 214462158
Sum of Station IDs for district Brunn-Maria Enzersdf is 214462204
Sum of Station IDs for district Deutsch-Wagram is 214462228
Sum of Station IDs for district Helmahof is 214462241
Sum of Station IDs for district Dürrwien is 214462263
Sum of Station IDs for district Ebenfurth is 214462267
Sum of Station IDs for district Ebreichsdorf is 214462275
Sum of Station IDs for district Eichgraben-Altlengb. is 214462296
Sum of Station IDs for district Enzersdorf/Staatz is 214462336
Sum of Station IDs for district Felixdorf is 214462363
Sum of Station IDs for district Fischamend is 214462378
Sum of Station IDs for district Frättingsdorf is 214462397
Sum of Station IDs for district Gaisruck (Bz KO) is 214462429
Sum of Station IDs for district Gemeinlebarn is 214462444
Sum of Station IDs for district Gramatneusiedl is 214462486
Sum of Station IDs for district Greifenstein/Donau is 214462492
Sum of Station IDs for district Groß-Enzersdorf is 428925010
Sum of Station IDs for district Gumpoldskirchen is 214462550
Sum of Station IDs for district Guntramsdorf is 428925127
Sum of Station IDs for district Gänserndorf is 214462570
Sum of Station IDs for district Göllersdorf is 214462595
Sum of Station IDs for district Götzendorf/Leitha is 214462603
Sum of Station IDs for district Hainburg/Donau is 643387888
Sum of Station IDs for district Haslau (Donau) is 214462654
Sum of Station IDs for district Hausleiten (Bz KO) is 214462657
Sum of Station IDs for district Hautzendorf (NÖ) is 214462660
Sum of Station IDs for district Hennersdorf bei Wien is 214462671
Sum of Station IDs for district Himberg (bei Wien) is 214462682
Sum of Station IDs for district Hofstatt(Ma Anzbach) is 214462725
Sum of Station IDs for district Hollabrunn is 214462728
Sum of Station IDs for district Höbersdorf is 214462742
Sum of Station IDs for district Höflein an der Donau is 214462748
Sum of Station IDs for district Hörersdorf is 214462754
Sum of Station IDs for district Kapellerfeld is 214462800
Sum of Station IDs for district Kledering is 428925688
Sum of Station IDs for district Klosterneuburg is 428925801
Sum of Station IDs for district Korneuburg is 214462911
Sum of Station IDs for district Kottingbrunn is 214462937
Sum of Station IDs for district Kottingneusiedl is 214462939
Sum of Station IDs for district Kritzendorf is 214462943
Sum of Station IDs for district Unterkritzendorf is 214462951
Sum of Station IDs for district Laa an der Thaya is 214462963
Sum of Station IDs for district Ladendorf is 214462973
Sum of Station IDs for district Langenlebarn is 214462977
Sum of Station IDs for district Langenzersdorf is 214462993
Sum of Station IDs for district Lanzendorf bei Wien is 214463002
Sum of Station IDs for district Leobend.-Burg Kreuz. is 214463031
Sum of Station IDs for district Leobersdorf is 214463032
Sum of Station IDs for district Maria Anzbach is 214463088
Sum of Station IDs for district Maria Ellend is 214463090
Sum of Station IDs for district Maria Enzersdorf is 214463112
Sum of Station IDs for district Michelhausen is 214463144
Sum of Station IDs for district Mistelbach/Zaya is 428926305
Sum of Station IDs for district Moosbierb.-Heiligen. is 214463164
Sum of Station IDs for district Muckendorf-Wipfing is 214463173
Sum of Station IDs for district Münchendorf is 214463179
Sum of Station IDs for district Mödling is 214463187
Sum of Station IDs for district Eigenheimsiedlung is 214463250
Sum of Station IDs for district Möllersdorf is 214463252
Sum of Station IDs for district Neubau-Kreuzstetten is 214463266
Sum of Station IDs for district Neu-Guntramsdorf is 214463279
Sum of Station IDs for district Neulengbach is 428926571
Sum of Station IDs for district Niederkreuzstetten is 214463325
Sum of Station IDs for district Obereggendorf is 214463343
Sum of Station IDs for district Oberolberndorf is 214463356
Sum of Station IDs for district Obersdorf (NÖ) is 214463365
Sum of Station IDs for district Paasdorf is 214463403
Sum of Station IDs for district Perchtoldsdorf is 214463448
Sum of Station IDs for district Petronell-Carnuntum is 214463479
Sum of Station IDs for district Pfaffstätten is 428926965
Sum of Station IDs for district Pottenbrunn is 2144680123
Sum of Station IDs for district Pottendorf-Landegg is 214463510
Sum of Station IDs for district Pressbaum is 214463522
Sum of Station IDs for district Purkersdorf bei Wien is 428927100
Sum of Station IDs for district Unterpurkersdorf is 214463553
Sum of Station IDs for district Regelsbrunn is 214463587
Sum of Station IDs for district Rekawinkel is 214463599
Sum of Station IDs for district Sarasdorf is 214463636
Sum of Station IDs for district Schleinbach is 214463643
Sum of Station IDs for district Flughafen Wien is 214463656
Sum of Station IDs for district Schwechat is 1501334645
Sum of Station IDs for district Schönborn-Mallebarn is 214463691
Sum of Station IDs for district Seyring is 214463707
Sum of Station IDs for district Siebenhirten/Mistelb is 214463713
Sum of Station IDs for district Sierndorf/Stockerau is 214463731
Sum of Station IDs for district Silberwald is 214463738
Sum of Station IDs for district Sitzenberg is 214463746
Sum of Station IDs for district Sollenau is 214463749
Sum of Station IDs for district Spillern is 214463762
Sum of Station IDs for district St Andrä-Wördern is 214463772
Sum of Station IDs for district St Pölten is 24747696716
Sum of Station IDs for district Staatz is 214463800
Sum of Station IDs for district Mannswörth is 214463823
Sum of Station IDs for district Stockerau is 214463832
Sum of Station IDs for district Strasshof (Nordbahn) is 214463870
Sum of Station IDs for district Theresienfeld is 214463938
Sum of Station IDs for district Traiskirchen is 214463949
Sum of Station IDs for district Traismauer is 214463953
Sum of Station IDs for district Trasdorf is 214463954
Sum of Station IDs for district Trautmannsdf/Leitha is 214463961
Sum of Station IDs for district Tribuswinkel is 214463970
Sum of Station IDs for district Tulln is 428927987
Sum of Station IDs for district Tullnerbach-Pressb. is 214464016
Sum of Station IDs for district Ulrichskirchen is 214464018
Sum of Station IDs for district Untereggendorf is 214464020
Sum of Station IDs for district Unteroberndorf (NÖ) is 214464028
Sum of Station IDs for district Untertullnerbach is 214464042
Sum of Station IDs for district Vösendorf is 428928159
Sum of Station IDs for district Wampersdorf is 214464094
Sum of Station IDs for district Weigelsdorf is 214464131
Sum of Station IDs for district Wiener Neudorf is 428928295
Sum of Station IDs for district Wiener Neustadt is 643392501
Sum of Station IDs for district Wildungsmauer is 214464182
Sum of Station IDs for district Wilfleinsdorf is 214464186
Sum of Station IDs for district Wolfsthal is 214464218
Sum of Station IDs for district Wolkersdorf/Weinvtl is 214464221
Sum of Station IDs for district Zeiselmauer is 214464248
Sum of Station IDs for district Tullnerfeld is 214464705
Sum of Station IDs for district St Georgen/Steinfeld is 1930377569
Sum of Station IDs for district Getzersdorf/Traisen is 214465405
Sum of Station IDs for district Herzogenburg is 428930813
Sum of Station IDs for district Oberradlberg is 428933629
Sum of Station IDs for district Unterradlberg is 1506175355
Sum of Station IDs for district Viehofen is 2374545764
Sum of Station IDs for district Ratzersdorf/Traisen is 2151379564
Sum of Station IDs for district Stattersdorf is 1286809673
Sum of Station IDs for district Spratzern is 2175560774
Sum of Station IDs for district Harland/St Pölten is 2166051232
Sum of Station IDs for district Altmannsdorf (NÖ) is 214468126
Sum of Station IDs for district Windpassing/St Pölt is 214468127
Sum of Station IDs for district Ochsenburg/St Pölten is 857873600
Sum of Station IDs for district Hart (St Pölten) is 857875192
Sum of Station IDs for district Witzendorf/St Pölten is 429018695
Sum of Station IDs for district Mooshöfe is 214468250
Sum of Station IDs for district Waitzendorf/St Pölt is 428936503
Sum of Station IDs for district Ragelsdorf/St Pölten is 214470545
Sum of Station IDs for district Weitern/St Pölten is 428941122
Sum of Station IDs for district Hafing is 214470636

## Step 4b Aggregation and Grouping - Pandas (2 point)

Now, again, using Pandas, do the same as in 4a

In [9]:
# Sum of station ID's grouped by district
df.groupby('GEMEINDE')['HALTESTELLEN_ID'].sum()

GEMEINDE
Absdorf-Hippersdorf     214461954
Achau                   214461958
Altmannsdorf (NÖ)       214468126
Atzenbrugg              214462013
Bad Deutsch-Altenbg     214462028
                          ...
Windpassing/St Pölt     214468127
Witzendorf/St Pölten    429018695
Wolfsthal               214464218
Wolkersdorf/Weinvtl     214464221
Zeiselmauer             214464248
Name: HALTESTELLEN_ID, Length: 148, dtype: int64